.banner {
   background: url(../img/banner/banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
}

.banner__wrapper {
   padding: 207px 0 183px;
   display: flex;
}

.banner__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 670px;
   width: 100%;
}

.content__logo img {
   max-width: 179px;
   width: 100%;
   margin-bottom: 51px;
}

.banner__title h1 {
   font-family: var(--Raleway);
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   text-transform: uppercase;
   color: var(--white-color);
   margin-bottom: 55px;
}

.divider {
   width: 170px;
   display: block;
   border: 1px solid var(--white-color);
}

.banner__description h5 {
   padding: 42px 0;
   font-family: var(--Raleway);
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: var(--white-color);
   max-width: 270px;
   width: 100%;
}

.donwload-btn button {
   border: 2px solid #FFFFFF;
   background: transparent;
   font-family: var(--Open-Sans);
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: var(--white-color);
   cursor: pointer;
   transition: all .3s ease-in;
}

.donwload-btn button:hover {
   border: 2px solid var(--accent-color);
   color: var(--accent-color);
}

.donwload-btn button:active {
   border: 2px solid var(--active-color);
   color: var(--white-color);
   background: var(--active-color);;
}

.donwload-btn .banner__btn {
   max-width: 270px;
   width: 100%;
   height: 58px;
}