:root {
   --accent-color: #EC7979;
   --secondary-color: #00868A;
   --white-color: #FFFFFF;
   --black-color: #000000;
   --text-light: #86878B;


   --Raleway: 'Raleway', sans-serif;
   --Open-Sans: 'Open Sans', sans-serif;
   } 